<ion-view view-title="{{foodlist.name}}">
  <!-- style taken from http://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/ -->
  <style>
  	p {font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	}
	</style>
<!-- format for the foodlist detail page -->
	<ion-content class="padding">
    <img ng-src="{{foodlist.image}}" style="width: 64px; height: 64px">
	<p>
      Quantity:{{foodlist.quantity}}
    </p>
	<p>
      Calories:{{foodlist.calories}}
    </p>	
	</p>
	<p>
      recipes:
    </p>
	<a ng-href="{{foodlist.link}}"> <!-- angular href allows href to be changed based on id -->
      {{foodlist.recipe}}
    </a>
	<p>
	serves: {{foodlist.serves}}
	<p>
	calories per serving:{{foodlist.linkcalories}}
	</p>
	<a ng-href="{{foodlist.linkb}}">
      {{foodlist.recipeb}}
    </a>
	<p>
	serves: {{foodlist.servesb}}
	</p>
	<p>
	calories per serving:{{foodlist.linkbcalories}}
	</p>
  </ion-content>
</ion-view>
