<!-- this will be normal calculator menu-->
<ion-view view-title="Menu">
 <ion-content>
	<br>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/CalorieIntake.jpg">
      <h2>Daily Requirements</h2>
	  <h3>Your recomended calorie intake</h3>
	  <button class="button button-outline button-balanced" ui-sref="calculator">
	 View
	</button>
    </a>	
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/bmi.png">
      <h2> BMI </h2>
	  <h3> Find out your Body Mass Index </h3>
	  <button class="button button-outline button-balanced" ui-sref="bmi">
	 Calculate
	</button>
    </a>	
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/add.png">
      <h2> Calorie Counter </h2>
	  <h3> Add up your daily calorie intake </h3>
	  <button class="button button-outline button-balanced" ui-sref="counter">
	 Counter
	</button>
    </a>
	</div>			
  </ion-content>
</ion-view>
