<ion-view view-title="Menu"> <!-- changed from calculator menu to just menu -->
<!-- title and description style plus button size and position -->
	<style>
	h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size:24px;
	margin-top: 5px; margin-bottom: 0px;
    font-weight: normal;
    color: #222;
	}
	
	h3 {
	font-family: "Lucida Grande", Tahoma;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
    margin-top: 10px;
	}
	
	button {
	float: right;
	width: 100px; 
	height : 35px;
	}
	
	</style>
 <ion-content>
	<br>
	<div class="list">
    <a class="item item-thumbnail-left" href="#"> <!--add image to left hand side of list -->
      <img src="img/CalorieIntake.jpg"> <!-- http://www.awellfedlife.com/2015/01/calories-metabolism.html -->
      <h2>Daily Requirements</h2>
	  <h3>Your recomended calorie intake</h3>
	  <button class="button button-outline button-balanced" ui-sref="calculator">
	 View
	</button>
    </a>	
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/bmi.png"> <!-- http://www.awellfedlife.com/2015/01/calories-metabolism.html -->
      <h2> BMI </h2>
	  <h3> Find out your Body Mass Index </h3>
	  <button class="button button-outline button-balanced" ui-sref="bmi">
	 Calculate
	</button>
    </a>	
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/add.png"> <!-- http://www.iconarchive.com/tag/add -->
      <h2> Calorie Counter </h2>
	  <h3> Add up your daily calorie intake </h3>
	  <button class="button button-outline button-balanced" ui-sref="counter">
	 Counter
	</button>
    </a>
	</div>			
  </ion-content>
</ion-view>
