<!-- this will be food list menu -->
<ion-view view-title="Food List">
	<style>
	h2 {
	font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
	}
	</style>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="foodlist in foodlist" type="item-text-wrap" href="#/tab/foodlist/{{foodlist.id}}">
        <img ng-src="{{foodlist.image}}">
        <h2>{{foodlist.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(foodlist)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
